---

const meta = {
	title: "About Me",
	description: "An entire page just about me ? That's probably going to be removed soon ngl...",
};

import { Image } from "astro:assets";
import PageLayout from "@/layouts/Base";
import {Content as AboutMD} from "../content/post/about.md";
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<AboutMD/>
	</div>
</PageLayout>
